---
interface Props {
  title?: string;
}

const { title = 'k6 · rinha2' } = Astro.props;
---

<nav>
  <div class="logo">{title}</div>
  <div class="nav-links">
    <a href="./docs/">View Scripts &rarr;</a>
    <a href="https://github.com/jonathanperis/rinha2-back-end-k6">GitHub &rarr;</a>
  </div>
</nav>
